body{
    margin: 0;
    padding: 0;
box-sizing: border-box;
overflow-y: scroll;

}
.container{
    width: 100%;
    height: 400px;
    overflow-y: scroll;

}

.SEARCH{
    margin: 10px 0 10px 20px;
    border-radius: 20px;
    width: 200px;
    height: 30px;
    
 
}

table{
    border-collapse: collapse;
    margin: 0 0 30px 0;
   width: 90%;
}

th,td{
    border: 2px solid rgb(212, 119, 119);
    padding: 8px;
    margin: 0;
}
th{
    background-color:rgb(247, 184, 184); 
}

.buttons{
    background-color:rgb(255, 200, 0);
    color:white;
    margin-right: 15px;
        width: 150px;
        height: 50px;
    font-size: 30px;
    border-radius: 40px;
    border: 0;
    font-weight: bolder;
    }   
    


.buttons:hover{
    background-color: aqua;
    transition: .2s;
}

.buttons:active {
    transform: translateY(10px);
  }
  

  .button-container{
    margin-bottom: 20px;
  }